body{
background-color: #00ced1 ;
}

h1{
color: #ffffff;
text-align: center;
font-family: crossorigin;

}

h2{
    color: #ffffff;
    text-align: center;
    font-family: crossorigin;
    
    }
    

